@import 'config';
@import 'menu';

.banner{
    position: relative;
    left: 0;
    right: 0;
    
    .banner-img{
        position: relative;
        width: 100%;
        height: 30vh;
        object-fit: cover;
        z-index: 2;
    }

    .logo{
        position: absolute;
        display: block;
        margin: auto;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
        width: 150px;
        height: 150px;
        z-index: 3;
    }
}

a{
    color: #fff;
    text-decoration: none;
}

body{
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

main{
    padding: 0rem 2rem;
    min-height: calc(65vh - 65px);
    font-size: 15px;

    .icons{
        margin-top: 1rem;

        a{
            padding: 0.3rem;

            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
    }
}

.top{
    height: 5vh;
    width: 100%;
    background: darken($primary-color, 10);
}

.main-footer{
    text-align: center;
    padding: 1.1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
}